@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
    /*Primary*/

--Pink: hsl(322, 100%, 66%);

    /*Neutral*/

--Very-Pale-Cyan: hsl(193, 100%, 96%);
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Grayish-Blue: hsl(208, 11%, 55%);

}
*{
    box-sizing: border-box;
}
body{
    display: grid;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}

ul{
    list-style: none;
}
h1, 
h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0 auto;
}
h1{
    width: 90%;
    font-size: 1.6rem;
}
h2{
    font-size: 1.5rem;
}
p{
    width: 75%;
    font-size:1rem;
    font-weight: 400;
    text-align: center;
    color: var(--Grayish-Blue);
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
}
.image{
    max-width: 100%;
}
.main_headings_image{
    margin-top: 3rem;
}
.text_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.get_btn{
    font-size: .8rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 50px;
    width: 16rem;
    align-self: center;
    color: var(--Very-Pale-Cyan) ;
    background-color: var(--Pink);
    border: 0;
}
.get_btn:hover, .header_btn:hover{
    cursor: pointer;
    opacity: .7;
}
    /*header start here*/
.header_container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.logo{
    width: 9rem;
}
.header_btn{
    font-size: .6rem;
    font-weight: 700;
    padding: .8rem;
    width: 5rem;
    border-radius: 50px;
    border: 0;
    background-color: var(--Very-Pale-Cyan);
    box-shadow: 0 8px 6px -6px black;;
}

    /*header end here*/

    /*main start here*/
main{
    display: flex;
    flex-direction: column;
}
.article_container{
    display: grid;
    gap: 3rem;
    transform: scale(.9);
}
.paragh{
    color: var(--Very-Dark-Cyan);
}
    /*main end here*/


    /*footer start here*/
footer{
    background-color: var(--Very-Dark-Cyan);
    color: var(--Very-Pale-Cyan);
}
.footer_logo{
    margin-left: 1rem;
    width: 10rem;   
}
.ready_block_container{
    display: flex;
    transform: translate(0, -5rem);
    gap: 1rem;
    width: 100%;   
    z-index: 1;
    top: -5rem;
    right: 0;
    left: 0;
    justify-content: center;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 8rem;
    gap: 1rem;
    background-color: var(--Very-Pale-Cyan);
    border-radius: 10px;
}

.ready_block_container h2{
    font-size: 1rem;
    color: var(--Very-Dark-Cyan);
}
.footer_details{
    display: grid;
}
.footer_details ul{
    padding: 1rem;
}
.footer_list_container{
    display: grid;
    gap: 1.5rem;
    margin: 0;
}
.footer_list_container li{
    display: flex;
    height: fit-content;
    gap: 2rem;
}
.footer_list_container p {
    width: 18rem;
    font-size: .85rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
}
.footer_nav_link{
    display: grid;
    grid-template-columns: minmax(15rem, 20rem);
    font-size: .85rem;
    gap: 1rem;
}
.footer_nav_link a:hover{
    text-decoration: underline;
}
.social_links_list{
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    justify-content: center;
}
.social_links_list li{
    display: flex;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
.social_links_list li:hover{
    cursor: pointer;
    border-color:var(--Pink) ;
}
.social_links_list i{
    color: var(--Very-Pale-Cyan); 
}
.social_links_list i:hover{
    color: var(--Pink);
}
.copyright_container p{
    text-align: center;
    color: var(--Very-Pale-Cyan);
    font-size: .7rem;
}
.attribution{
 font-size: 8px;
 text-align: center;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
    /*footer end here*/

    

